---
- name: Create symlink current
  file:
    state=link force=yes
    src={{deploy.project.root}}/releases/{{next_release}}
    path={{deploy.project.root}}/current

- name: Create symlink previous
  file:
    state=link force=yes
    src={{deploy.project.root}}/releases/{{current_release}}
    path={{deploy.project.root}}/previous
    when: current_release is defined
