---
- name: Define permission_model.
  set_fact:
     permission_model: "acl"
  when: permission_model is not defined

- name: Obtain http user
  shell: ps axo user,comm | grep -E '[a]pache|[h]ttpd|[_]www|[w]ww-data|[n]ginx' | grep -v root | head -1 | cut -d ' ' -f 1
  register: http_user_checking
  when: (permission_model == "acl") or (permission_model == "chmod+a")

- name: Create variable.
  set_fact:
    http_user: "{{http_user_checking.stdout}}"
  when: (permission_model == "acl") or (permission_model == "chmod+a")

- name: set acl
  command: setfacl -R -m u:"{{http_user}}":rwX -n u:`whoami`:rwX {{deploy.project.root}}/releases/{{project_deploy_date.stdout}}/{{item}}
  with_items: "{{deploy.project.writable_dirs}}"
  when: permission_model == "acl"

- name: set chmoda
  command: chmod -R +a "{{http_user}} allow delete,write,append,file_inherit,directory_inherit" {{deploy.project.root}}/releases/{{project_deploy_date.stdout}}/{{item}}
  with_items: "{{deploy.project.writable_dirs}}"
  when: permission_model == "chmod+a"

- name: Ensure writable directory
  file:
    path={{deploy.project.root}}/releases/{{project_deploy_date.stdout}}/{{item}}
    state=directory
    mode=0777
    recurse=yes
  with_items: "{{deploy.project.writable_dirs}}"
  ignore_errors: yes
  when: permission_model == "chmod"